#app {
  --color-dark-1: #111;
  --color-dark-2: #242424;
  --color-dark-3: #333;
  --color-dark-4: #555;

  --color-mid-1: #888;

  --color-light-1: #fff;
  --color-light-2: #ddd;
  --color-light-3: #aaa;
}
